*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: D;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  width: 80%;
  height: 60%;
  display: flex;
  border: 2px solid none;
  border-radius: 30px;
  
box-shadow: 11px 12px 5px -8px rgba(209,190,209,0.58);
}
img{
  height: 70%;
}
.picture{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.content{
  background: #F5F5F5 ;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.content form{
 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 30px 50px;
  width: 80%;
}

.remember{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 50%;
}

.rememberMe{
  margin-left: 10px;
}

.rememberAndForget{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.baby{
  color: #BA68C8;
}

.input{
  /* padding: 15px 30% 15px 15px; */
  width: 80%;
  padding: 15px 10px;
  border-radius: 10px;
  border-color: #BA68C8;
  color: #BA68C8;  
}

.forgetPass{
  text-decoration: none;
  color: black;
}

.signUp{
  color: #BA68C8;
}

.loginBtn{
  background: #BA68C8;
  color:white;
  /* padding: 2% 28%; */
  width: 80%;
  padding: 10px 0;
  border-radius: 10px;
  font-size: large;  
}
