*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: sans-serif;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  word-spacing: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.title{
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  width: 80%;
}
.title-p{
  width: 80%;
}
.container{
  width: 80%;
  height: 60%;
  display: flex;
  border: 2px solid none;
  border-radius: 30px;
box-shadow: 11px 12px 5px -8px rgba(209,190,209,0.58);
}
img{
  height: 60%;
}
.picture{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.content{
  background: #F5F5F5 ;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.content form{
 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 30px 50px;
  width: 80%;
}

.remember{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 50%;
}

.rememberMe{
  margin-left: 10px;
}

.rememberAndForget{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.baby{
  color: #BA68C8;
}

.input{
  /* padding: 15px 30% 15px 15px; */
  width: 80%;
  padding: 4% 3%;
  border-style: solid;
  border-radius: 10px;
  border-color: #BA68C8;
  color: #BA68C8;  
}

input[type="checkbox"]{
  
  height: 20px;
  width: 20px;
  border-radius: 5px;
  }

.forgetPass{
  text-decoration: none;
  color: black;
}
::placeholder {
  position: relative;
  left: 20px;
  font-size: large;
}

.signUp{
  color: #BA68C8;
}

.loginBtn{
  background: #BA68C8;
  color:white;
  /* padding: 2% 28%; */
  width: 80%;
  padding: 2% 0;
  border-radius: 10px;
  font-size: x-large;
  font-weight: bold;
  border-style: none;
}

@media screen and (max-width: 1480px){
 
  .picture{
    display: none;
  }
  .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .input{
    /* padding: 15px 30% 15px 15px; */
    width: 80%;
    padding: 2.5% 3%;
    border-style: solid;
    border-radius: 10px;
    border-color: #BA68C8;
    color: #BA68C8;  
  }
  
}

@media screen and (max-width: 760px){
  /* .container{
    min-width: 900px;

  } */
  .picture{
    display: none;
  }
  .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .rememberAndForget{
    display: flex;
    align-items: center;
    justify-content: space-between;
   flex-direction: column;
    width: 100%;
    
  }
  .remember{
    margin-bottom: 15px;
  }
  .title{
    font-size: x-large;
  }


  
}

@media screen and (max-width: 450px){





  body{
    font-family: sans-serif;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    word-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .title{
    font-size: x-large;
  }
  .title-p{
    font-size: small;
  }
  .container{
    width: 80%;
    height: 80%;
    display: flex;
    border: 2px solid none;
    border-radius: 30px;
  box-shadow: 11px 12px 5px -8px rgba(209,190,209,0.58);
  }
  img{
    height: 60%;
  }
  .picture{
    display: none;
  }
  
  .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .content form{
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 30px 0px;
    width: 80%;
  }
  
  .rememberAndForget{
    display: flex;
    align-items: center;
    justify-content: space-between;
   flex-direction: column;
    width: 100%;
    
  }

  .remember{
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

  }
  
  .rememberMe{
    margin-left: 10px;
  }
  
  
  
  .baby{
    color: #BA68C8;
  }
  
  .input{
    /* padding: 15px 30% 15px 15px; */
    width: 80%;
    padding: 2.5% 3%;
    border-style: solid;
    border-radius: 10px;
    border-color: #BA68C8;
    color: #BA68C8;  
  }
  
  input[type="checkbox"]{
    
    height: 20px;
    width: 20px;
    border-radius: 5px;
    }
  
  .forgetPass{
    text-decoration: none;
    color: black;
  }
  ::placeholder {
    position: relative;
    left: 20px;
    font-size: small;
  }
  
  .signUp{
    color: #BA68C8;
  }
  
  .loginBtn{
    background: #BA68C8;
    color:white;
    /* padding: 2% 28%; */
    width: 80%;
    padding: 2% 0;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    border-style: none;
  }

}